/* <!-- content 包含实际内容 文本 图片-->
<!-- Padding 内边距 内容与边框之间的空间 -->
 <!-- Border 边框 盒子的边界 围绕内边距的外部 -->
  <!-- Margin 外边距 边框外部 盒子与其他元素之间的空间 --> */
 
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
 }

 body {
    font-family: Arial, sans-serif;
    display:flex;
    height: 100vh;
    overflow: hidden;
 }

 header {
    background-color: #f8f9fa;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
 }

 .sidebar {
    background-color: #f0f0f0;
    padding: 20px;
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    position: fixed;
    top: 60px;
    height: calc(100vh - 60px);
    border-right: 1px solid #ddd;
 }

 .sidebar .icon {
    background-color: pink;
    padding: 10px;
    border: none;
    border-radius: 50%;
    cursor: pointer
 }

 main {
   margin-left: 80px;
   margin-top: 80px;
   padding: 20px;
   flex: 1;
   overflow-y: auto;
 }

 section h3 {
   margin-bottom: 10px;
 }

 .notification .notification-box {
   min-height: 50px;
   background-color: aqua;
   padding: 10px;
   border: 1px solid #ddd;
 }

 .notebook {
   position: fixed;
   right: 0;
   top: 60px;
   width: 200px;
   height: calc(100vh-60px);
   
 }